# Ejercicio 1.2

Creamos la variable baraja

In [882]:
n=as.character(rep(c(1:7,10:12),4))
m=c(rep("Oros",10),rep("Copas",10),rep("Espadas",10),rep("Bastos",10))
baraja = c(1:40) 
names(baraja) = paste(m,n,sep="-")
print("Las primeras filas de la baraja")
head(baraja)
tail(baraja)

[1] "Las primeras filas de la baraja"

Oros-1 Oros-2 Oros-3 Oros-4 Oros-5 Oros-6
     1      2      3      4      5      6

 Bastos-5  Bastos-6  Bastos-7 Bastos-10 Bastos-11 Bastos-12
       35        36        37        38        39        40

Creamos la dataframe que contendra las manos de los jugadores durante una partida

In [890]:
manos.df = data.frame(matrix(ncol=4,nrow=4))
names(manos.df) = c("A1","B1","A2","B2")
set.seed(2012)
manos.df[1]=baraja[sample(1:40,4)]
set.seed(2013)
manos.df[2]=baraja[sample(1:40,4)]
set.seed(2014)
manos.df[3]=baraja[sample(1:40,4)]
set.seed(2015)
manos.df[4]=baraja[sample(1:40,4)]

manos.df

  A1 B1 A2 B2
1  9 19 12  3
2 30 38  7 33
3 11 30 24 12
4 35 29 40  2

Aunque no es necesario, será de gran ayuda saber a que corresponden los número mostrados arriba. Así que mostraremos la dataframe manos en un lenguaje mas legible.

In [892]:
juego.char=matrix(names(baraja)[t(manos.df[1:4])],nrow=4,byrow=TRUE)
names(juego.char) = names(manos.df) 
str(juego.char)
manos.df

 chr [1:4, 1:4] "Oros-11" "Espadas-12" "Copas-1" "Bastos-5" ...
 - attr(*, "names")= chr [1:16] "A1" "B1" "A2" "B2" ...

  A1 B1 A2 B2
1  9 19 12  3
2 30 38  7 33
3 11 30 24 12
4 35 29 40  2

Deberemos tener en cuenta el valor especial de los valores especiales de las cartas con número 10, 11 y 12

In [615]:
cartas.juego =c(matrix(names(baraja),ncol=4)[8:10,])
baraja[cartas.juego]

   Oros-10    Oros-11    Oros-12   Copas-10   Copas-11   Copas-12 Espadas-10
         8          9         10         18         19         20         28
Espadas-11 Espadas-12  Bastos-10  Bastos-11  Bastos-12
        29         30         38         39         40

Creamos una función llamada valor, que nos devuelva el valor de la carta, tomando el número ordinal de la carta de la lista baraja

In [883]:
valor = function(n){   
    carta = unlist(strsplit(names(baraja)[n],"-"))[(1:length(n))*2]
    carta = c(carta)

    valor = as.numeric(carta)
    for (i in 1:length(n)){
        if(n[i] %in% baraja[cartas.juego]){
                valor[i] = 10
            }
        }
    valor=sum(valor)
    return(valor)
    }

Utilizando la función "valor" obtenemos los puntos de cada jugador. Luego preguntamos si existe algún valor es mayor que 30. Si es así colocamos TRUE en la columna J, en caso contrario el valor será FALSE.

In [885]:
juego.df = data.frame(matrix(ncol=5,nrow=1))
names(juego.df) = paste(rep("juego",4),names(manos.df),sep = ".")
names(juego.df)[5] = "J"

juego.df["juego.A1"]=valor(c(manos.df["A1"])[[1]])
juego.df["juego.A2"]=valor(c(manos.df["A2"])[[1]])
juego.df["juego.B1"]=valor(c(manos.df["B1"])[[1]])
juego.df["juego.B2"]=valor(c(manos.df["B2"])[[1]])

juego.df["J"] = if(TRUE %in% (juego.df[1:4] > 30)){TRUE}else{FALSE}

juego.df

  juego.A1 juego.B1 juego.A2 juego.B2 J
1 26       40       23       10       TRUE

In [886]:
n=as.character(rep(c(1:7,10:12),4))
m=c(rep("Oros",10),rep("Copas",10),rep("Espadas",10),rep("Bastos",10))
baraja = c(1:40) 
names(baraja) = paste(m,n,sep="-")
print("Las primeras filas de la baraja")
head(baraja)
tail(baraja)

[1] "Las primeras filas de la baraja"

Oros-1 Oros-2 Oros-3 Oros-4 Oros-5 Oros-6
     1      2      3      4      5      6

 Bastos-5  Bastos-6  Bastos-7 Bastos-10 Bastos-11 Bastos-12
       35        36        37        38        39        40